<div class="container">
    <form [formGroup]="formUsuario" class="form" (submit)="onSubmit()">
        <h1>Formulário de Usuário</h1>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="nome">
                <mat-error>
                    <span *ngIf="formUsuario.get('nome')?.hasError('required')">Nome é obrigatório</span>
                    <span *ngIf="formUsuario.get('nome')?.hasError('maxlength')">Nome deve ter no mínimo 10 caracteres</span>
                    <span *ngIf="formUsuario.get('nome')?.hasError('pattern')">Nome deve conter apenas letras</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="password" placeholder="Senha" formControlName="senha">
                <mat-error>
                    <span *ngIf="formUsuario.get('senha')?.hasError('required')">Senha é obrigatória</span>
                    <span *ngIf="formUsuario.get('senha')?.hasError('minlength')">Senha deve ter no mínimo 4 caracteres</span>
                    <span *ngIf="formUsuario.get('senha')?.hasError('pattern')">Senha deve conter pelo menos uma letra maiúscula e um caractere especial</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>Email inválido</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group multiform" formGroupName="nomeCompleto" >
            <h2>Nome Completo</h2>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Primeiro Nome" formControlName="primeiroNome">
                    <mat-error>Primeiro Nome Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Último Nome" formControlName="ultimoNome">
                    <mat-error>Último Nome Obrigatório</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Telefone" formControlName="telefone">
                <mat-error>
                    <span *ngIf="formUsuario.get('telefone')?.hasError('required')">Telefone é obrigatório</span>
                    <span *ngIf="formUsuario.get('telefone')?.hasError('pattern')">Telefone deve estar no formato (00) 00000-0000</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group multiform" formGroupName="endereco" >
            <h2>Endereço</h2>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Rua" formControlName="rua">
                    <mat-error>Rua Necessária</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Número" formControlName="numero">
                    <mat-error>Número Necessário</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Complemento" formControlName="complemento">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Cidade" formControlName="cidade">
                    <mat-error>Cidade Necessária</mat-error>                    
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Estado" formControlName="estado">
                    <mat-error>Estado Necessário</mat-error>                   
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="CEP" formControlName="cep">
                    <mat-error>
                        <span *ngIf="formUsuario.get('endereco')?.get('cep')?.hasError('required')">CEP é obrigatório</span>
                        <span *ngIf="formUsuario.get('endereco')?.get('cep')?.hasError('pattern')">CEP deve estar no formato 00000-000</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento"
                    formControlName="dataDeNascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                    <span *ngIf="formUsuario.get('dataDeNascimento')?.hasError('required')">Data de Nascimento é obrigatória</span>
                    <span *ngIf="formUsuario.get('dataDeNascimento')?.hasError('lessThanEighteen')">Usuário deve ser maior de idade</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Gênero</mat-label>
                <mat-select formControlName="genero">
                    <mat-option *ngFor="let genero of generos" [value]="genero">{{genero}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Profissão</mat-label>
                <mat-select formControlName="profissao">
                    <mat-option *ngFor="let profissao of profissoes" [value]="profissao">{{profissao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="formUsuario.invalid">Enviar</button>
    </form>
</div>