<div id="container-cadastro">
    <form [formGroup]="cadastroSuinoForm" (ngSubmit)="onSubmit()">
        <label for="brinco-animal">Brinco Animal</label>
        <input type="number" id="brinco-animal" pInputText formControlName="brincoAnimal">
        <label for="brinco-pai">Brinco Pai</label>
        <input type="number" id="brinco-pai" pInputText formControlName="brincoPai">
        <label for="brinco-mae">Brinco Mãe</label>
        <input type="number" id="brinco-mae" pInputText formControlName="brincoMae">
        <label for="data-nascimento">Data de Nascimento</label>
        <input type="date" id="data-nascimento" pInputText formControlName="dataNasc">
        <label for="data-saida">Data da saída</label>
        <input type="date" id="data-saida" pInputText formControlName="dataSaida">
        <label for="status">Status</label>
        <p-dropdown formControlName="status" [options]="statusValues" optionLabel="name" placeholder="Selecione"></p-dropdown>
        <!-- <select id="status" formControlName="status">
            <option value="Ativo">Ativo</option>
            <option value="Vendido">Vendido</option>
            <option value="Morto">Morto</option>
        </select> -->
        <label for="sexo">Sexo</label>
        <p-dropdown formControlName="status" [options]="sexoValues" optionLabel="name" placeholder="Selecione"></p-dropdown>
        <!-- <select id="sexo" formControlName="sexo">
            <option value="Ativo">M</option>
            <option value="Vendido">F</option>
        </select> -->
        <div id="container-botao">
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
        </div>
    </form>
</div>

