<div>
    <ul>
        <li><a routerLink="/turismo"
                title="Criação de uma página de destinos de turismo de viagem em um layout responsivo utilizando Flexbox.">
                P4 - Destinos Turísticos</a></li>
        <li><a routerLink="/uesc" title="Reformulação da página da UESC para o framework Angular.">P6 - Página Uesc</a>
        </li>
        <li><a routerLink="/wiki"
                title="Desenvolvimento de uma aplicação Angular para consultar artigos na API da Wikipedia, utilizando serviços, injeção de dependências e pipes.">
                P8 - Pesquisa Wiki</a></li>
    </ul>
</div>