<div class="p-fluid p-grid p-justify-center">
    <div class="p-col-12 p-md-6">
        <div class="card" style="margin-top: 2em;">
            <p-panel header="Cadastro Sessão">
                <p-messages [(value)]="msgs"></p-messages>
                <form [formGroup]="cadastroSessaoForm" (ngSubmit)="onSubmit()">
                    <p-messages [(value)]="msgs"></p-messages>
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-6">
                            <label for="data">Data da Sessão</label>
                            <p-calendar id="data" dateFormat="dd/mm/yy" formControlName="data"
                                [showIcon]="true"></p-calendar>
                            <small *ngIf="cadastroSessaoForm.get('data')?.hasError('required') && cadastroSessaoForm.get('data')?.touched"
                                class="p-error">Data é obrigatória</small>
                            <small *ngIf="cadastroSessaoForm.get('data')?.hasError('pattern')" class="p-error">Data deve estar
                                no formato dd/mm/aaaa</small>
                        </div>

                        <div class="p-field p-col-12 p-md-6">
                            <label for="brincos">Brinco dos Suínos</label>
                            <p-dropdown formControlName="brincos" [options]="pigValues" optionLabel="name" placeholder="Selecione"></p-dropdown>

                        </div>
                        
                        <div class="p-field p-col-12 p-md-6">
                            <label for="tarefas">Tarefas</label>
                            <p-dropdown formControlName="tarefas" [options]="taskValues" optionLabel="name" placeholder="Selecione"></p-dropdown>
                        </div>
                    </div>
                    <button pButton type="submit" label="Cadastrar" class="p-button-success"
                        [disabled]="sessaoForm.invalid"></button>
                </form>
            </p-panel>
        </div>
    </div>
</div>
