<div>
    <div class="destinos">
        <div class="destino">
            <img src="../assets/img/salvador.jpeg" alt="">
            <h2>Salvador</h2>
            <ul class="pacote">
                <li> Aéreo ida e volta</li>
                <li> 03 Diárias</li>
                <li> Café da manhã</li>
            </ul>
            <p class="preco">R$670,00</p>
            <p class="taxa">Taxas inclusas</p>
            <p class="parcela">Em ate 10x sem juros</p>
            <button>Comprar</button>
        </div>
        <div class="destino">
            <img src="../assets/img/porto.avif" alt="">
            <h2>Porto Seguro</h2>
            <ul class="pacote">
                <li> Aéreo ida e volta</li>
                <li> 05 Diárias</li>
                <li> Café da manhã</li>
            </ul>
            <p class="preco">500,00</p>
            <p class="taxa">Taxas inclusas</p>
            <p class="parcela">Em ate 10x sem juros</p>
            <button>Comprar</button>
        </div>
        <div class="destino">
            <img src="../assets/img/ilheus.avif" alt="">
            <h2>Ilhéus</h2>
            <ul class="pacote">
                <li> Aéreo ida e volta</li>
                <li> 03 Diárias</li>
                <li> Café da manhã</li>
            </ul>
            <p class="preco">R$400,00</p>
            <p class="taxa">Taxas inclusas</p>
            <p class="parcela">Em ate 10x sem juros</p>
            <button>Comprar</button>
        </div>

    </div>
</div>